body {
    background-color: hsl(172, 58%, 79%);
}

/* En-tête */
.head {
    height: 70px;
    background-color: hsl(113, 59%, 45%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Barre latérale */
.sidebar {
    background-color: hsl(113, 59%, 70%);
    min-height: 300px;
}

/* Espace de chat */
.chat-space {
    background-color: white;
    overflow-y: auto;
}

/* Messages */
.chat {
    background-color: hsl(113, 59%, 90%);
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
    width: 90%;
    margin-top: 1rem;
    margin-left: 3rem;
    padding: 0.25rem;
}

/* Barre d'envoi */
.mssg-bar {
    background-color: hsl(113, 59%, 45%);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.mssg-bar input {
    flex: 1;
    width: 100%;
    border: none;
    padding: 8px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.mssg-bar button {
    border: none;
    height: 40px;
    width: 50px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

/* Users */
.nom-salon div
{
    background-color: hsl(113, 64%, 85%);
    padding: 0.5em;
}
/* Style for bot messages */
.bot-message {
    background-color: #f0f0f0; /* Light gray background */
    padding: 10px;
    width: fit-content;
    margin: 10px 0;
    border-radius: 5px;
    font-style: italic; /* Italic text */
    color: #555;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style for the bot message header */
.bot-message h4 {
    color: #007bff; /* Blue text for the bot name */
    margin-bottom: 5px;
}

/* Style for the bot message timestamp */
.bot-message span {
    font-size: 0.8em;
    margin-left: 20px;
    color: #888; /* Light gray for the timestamp */
}



.user-message {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    color: #000000;
    font-size: 1.5em;
    margin-bottom: 0;
}

/* Style for the bot message header */
.user-message h4 {
    color: #007bff; /* Blue text for the bot name */
    margin-bottom: 5px;
}

/* Style for the bot message timestamp */
.user-message span {
    font-size: 0.8em;
    color: #888; /* Light gray for the timestamp */
}

